/* Rund ums Geld website
-------------------------------
   Desktop override
*/

/* ======== Main ======== */

html, body {
    min-height: 100%;
}
.btn-primary {
    background-color: #3f65b1;
}
.btn-primary:focus,
.btn-primary:hover {
    background-color: #284e9b;
}
.btn-link {
    color: #3f65b1;
}
.btn-link:focus,
.btn-link:hover {
    color: #284e9b;
}
/* ======== Home 4 Boxes ======== */

.home-boxes .home-box .description {
    /*max-height: 130px;*/
    height: auto;
}
.red-box > p:nth-child(2){
    position: relative;
}
/* Gradient for the text inside the box */
.red-box > p:nth-child(2):after {
    /*content:'';*/
    /*width:100%;*/
    /*height:100%;*/
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*background:linear-gradient(transparent 50px, rgba(250,45,57,.75));*/
}

/* ======== Sticky Footer ======== */

#page-top {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -300px;
}

#page-top:after {
    content: "";
    display: block;
}
footer {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
footer, #page-top:after {
    height: 300px;
}

#page-top-auth:after {
    content: "";
    display: block;
    height: 17vh;
}

.footer-bottom {
    max-height: 80px;
}
table.main-info tr > td {
    padding-bottom: 20px;
}

/* ======== Various overrides ======== */

.margin-custom {
    margin-top: 3%;
}
img-crop {
    width:100%;
    height:100%;
    display:block;
    position:relative;
    overflow:hidden
}
img-crop canvas {
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    outline:0;
    -webkit-tap-highlight-color:transparent
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:280px;
    height:255px;
}
.products-custom li {
    width: 50%;
    float: left;
}
.table-padding td {
    padding: 3px 8px;
}
.menu-admin {
    float: right;
}
.autocomplete-suggestion strong {
    color: #3f65b1;
}
.autocomplete-suggestion {
    background: #fff;
    /*border: 1px solid rgba(0,0,0,.1);*/
    padding-left: 5px;
}
.company-logo {
    margin-bottom: 20px;
}
div.content .autocomplete-suggestion {
    border: 1px solid #3f65b1;
}

/* About us
----------------------------*/

a[rel="me"] {
    font-size: 4rem;
    display: inline-block;
    margin: 0 5px 20px 0;
}
