/* Rundumsgeld website */
/* ------------------------------- */
/* Mobile override */

@media all and (min-width: 320px) and (max-width: 768px) and (min-resolution: 1dppx) {
    body, .home,
    body.home .content{
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: #FFF;
        background-image: none;
        min-width: 100%;
        min-height: 100%;
        position: relative;
    }
    .home-boxes {
        padding: 0;
        margin: 25px 0 0 0;
    }
    main {
        margin: 0;
        padding-top: 105px;
    }
    body.home main {
        padding-top: 120px;
    }
    header{
        width: 100%;
        position: fixed;
        z-index: 3;
        background-color: #fff !important;
        padding-bottom: 30px;
    }
    nav {
        touch-action: auto;
    }
    header nav.main ul {
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
         position: relative;
    }
    header nav.main ul.open {
        left: 0;
        z-index: 2;
        box-shadow: 0 11px 17px rgba(0,0,0,1);
        background-color: rgb(229, 227, 223);
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }
    header nav.main ul li {
        display: block;
        float: none;
        border-bottom: 1px solid #ccc;
    }
    header nav.main ul li a {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header nav.main ul li a:active:after,
    header nav.main ul li a:hover:after,
    header nav.main ul li a:after {
        display: none;
    }
    header nav.main ul li .current,
    header nav.main ul li a:hover,
    header nav.main ul li a:focus {
        transform: translate(0) !important;
        background: #3f65b1;
        color: #FFF;
    }
    header nav.main ul li ul {
        position: static;
        background: #111;
        width: 100%;
    }
    .toggle-nav, .toggle-nav:before, .toggle-nav:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #666;
        position: absolute;
        display: block;
        content: '';
        z-index: 5;
        box-shadow: 0 0 3px #FFF;
    }
    .toggle-nav:before {
        top: -10px;
    }
    .toggle-nav:after {
        bottom: -10px;
    }
    .profile-custom {
        padding-top: 50px;
    }
    .avatar-custom img {
        max-height: inherit;
    }
    .modal-dialog {
        margin: 30px auto;
    }
}

/* --------- iPhone 5 and 5S --------- */

/* Portrait and landscape */
@media all and (min-width: 320px) and (max-width: 568px) and (min-resolution: 1dppx) {
    /* Main
    --------------------------*/
    header .logo img {
        width: 100%;
    }
    ul {
        margin-left: 5%;
    }
    main h1 {
        font-size: 3rem;
    }
    header .logo {
        width: 75%;
    }

    /* Navigation
   --------------------------*/

    header nav.main ul li {
        text-align: left;
    }
    header nav.main ul li:after {
        display: none;
    }
    header nav.main .toggle-nav {
        display: inline-block;
        position: fixed;
        top: 47px;
        left: 80%;
    }
    header nav.main {
        position: relative;
    }
    header nav.main ul{
        float: none;
        width: 300px;
        height: 100%;
        position: fixed;
        left: -300px;
        background: #f1f1f1;
        transition: 200ms;
    }
    .modal-dialog {
        margin: 30px auto;
    }
    /* Footer
    --------------------------*/

    footer {
        height: auto;
        margin-top: 10px;
    }
    .footer-bottom {
        max-height: none;
    }
}

/* Portrait */
@media all and (min-width: 320px) and (max-width: 568px) and (min-resolution: 1dppx) and (orientation: portrait) {
    /* Home
    --------------------------*/
    .home-search {
        padding-top: 0;
        padding-bottom: 0;
    }
    #search-city {
        font-size: 1.3rem;
    }
    .title {
        text-align: center;
    }

    /* Search results page
    ----------------------------*/

    .consultant-box {
        width: 100%;
    }
    @media all and (min-width: 520px) {
        .consultant-box {
            width: 50%;
        }
    }
    .map-holder.search-map {
        height: 300px !important;
    }

    /* Single Profile page
    ----------------------------*/
    .consultant-box .link-box img {
        width: 20%;
        height: auto;
    }
    .consultant-box .link-box:hover .title,
    .consultant-box .link-box .title {
        left: 20%;
        padding: 20px 15px;
    }
    .title-custom,
    .titled {
        text-align: center;
    }
    span.title {
        z-index: -1;
    }
    .borderless-custom tr {
        width: 50%;
        float: left;
    }
    .additional-list {
        margin: 0 0 20px 0;
        list-style: none;
    }
    .additional-list li {
        width: 100%;
        float: none;
        text-align: center;
    }
    .modal-dialog {
        margin: 30px auto;
    }
    /* Registration page
    ----------------------------*/
    .btn {
        padding: 0 10px;
    }

    /* Pagination
    ----------------------------*/
    .paging {
        margin: 10px 0 0 0;
        background: #FFF;
        padding: 0 10px;
    }

    /* Footer
    ----------------------------*/

    .products-custom li {
        width: 100%;
        float: none;
    }
}

/* Landscape */
@media all and (min-width: 320px) and (max-width: 568px) and (min-resolution: 1dppx) and (orientation: landscape) {
    header .logo img {
        width: 50%;
    }
    .consultant-box .link-box:hover .title,
    .consultant-box .link-box .title {
        left: 20%;
        padding: 14px 15px;
    }

    .btn.btn-accent {
        display: inline-block;
        width: 54.5%;
    }

    header nav.main ul {
        width: 350px;
        left: -350px;
    }

    header nav.main .toggle-nav {
        top: 65px;
        left: 84%;
    }
    .modal-dialog {
        margin: 30px auto;
    }
}

/* --------- iPhone 6 --------- */

/* Portrait and landscape */
@media all and (min-width: 375px) and (max-width: 667px) and (min-resolution: 1dppx){
    /* Main
    --------------------------*/
    body.home .content{
        background: none;
    }

    ul {
        margin-left: 5%;
    }
    main h1 {
        font-size: 3rem;
    }
    header .logo {
        width: 75%;
    }

    /* Navigation
  --------------------------*/

    header nav.main ul li {
        text-align: left;
    }
    header nav.main ul li:after {
        display: none;
    }
    header nav.main .toggle-nav {
        display: inline-block;
        position: fixed;
        left: 80%;
    }
    header nav.main {
        position: relative;
    }
    header nav.main ul{
        float: none;
        height: 100%;
        position: fixed;
        background: #f1f1f1;
        transition: 200ms;
    }
    header nav.main ul.open {
        left: 0;
        z-index: 2;
        box-shadow: 0 11px 17px rgba(0,0,0,1);
    }
    header nav.main ul li {
        display: block;
        float: none;
        border-bottom: 1px solid #ccc;
    }
    header nav.main ul li a {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header nav.main ul li a:active:after,
    header nav.main ul li a:hover:after,
    header nav.main ul li a:after {
        display: none;
    }
    header nav.main ul li .current,
    header nav.main ul li a:hover,
    header nav.main ul li a:focus {
        transform: translate(0) !important;
        background: #3f65b1;
        color: #FFF;
    }
    header nav.main ul li ul {
        position: static;
        background: #111;
        width: 100%;
    }
    .toggle-nav, .toggle-nav:before, .toggle-nav:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #666;
        position: absolute;
        display: block;
        content: '';
        z-index: 5;
        box-shadow: 0 0 3px #FFF;
    }
    .toggle-nav:before {
        top: -10px;
    }
    .toggle-nav:after {
        bottom: -10px;
    }

}

/* Portrait */
@media all and (min-width: 375px) and (max-width: 667px) and (min-resolution: 1dppx) and (orientation: portrait){

    .consultant-box .link-box:hover .title,
    .consultant-box .link-box .title {
        left: 20%;
        padding: 22px 15px;
    }
    header nav.main ul {
        width: 250px;
        left: -250px;
        top: inherit;
    }
    header nav.main .toggle-nav {
        top: 52px;
    }
}

/* Landscape */
@media all and (min-width: 375px) and (max-width: 667px) and (min-resolution: 1dppx) and (orientation: landscape) {

    /* Nav
    ----------------------------*/
    header nav.main .toggle-nav {
        top: 46px;
    }
    header .logo img {
        width: 50%;
    }
    /* Home
    ----------------------------*/
    .home-search {
        padding-top: 5vh;
    }
    #search-city {
        font-size: 2rem;
    }
    .home-boxes {
        margin: 0 -1.667%;
    }

    /* Footer
    ----------------------------*/
    footer {
        height: auto;
        margin-top: 10px;
    }
    .footer-bottom {
        max-height: none;
    }
    .foot-col {
        width: 50%;
    }
    .products-custom li {
        width: 100%;
        float: none;
    }
    .single-box {
        width: 50%;
    }
    .foot-col {
        width: 50%;
    }
    footer .footer-top .foot-col:nth-child(2n+1) {
        clear: none;
        float: right;
    }

    /* Search results page
    ----------------------------*/

    .consultant-box {
        width: 100%;
    }
    .consultant-box .link-box:hover .title,
    .consultant-box .link-box .title {
        left: 20%;
        padding: 18px 15px;
    }

    @media all and (min-width: 520px) {
        .consultant-box {
            width: 50%;
        }
    }

    .map-holder.search-map {
        height: 300px !important;
    }

    /* Single Profile page
    ----------------------------*/

    .consultant-box .link-box img {
        width: 20%;
        height: auto;
    }
    div .title,
    .title-custom,
    .titled {
        text-align: center;
    }
    .btn.btn-accent {
        display: inline-block;
        width: 54.5%;
    }
    span.title {
        z-index: 1;
    }
    .borderless-custom tr {
        width: 50%;
        float: left;
    }
    .additional-list {
        margin: 0 0 20px 0;
        list-style: none;
    }
    .additional-list li {
        width: 100%;
        float: none;
        text-align: center;
    }
    .avatar-custom {
        width: 40%;
    }

    /* Registration page
    ----------------------------*/

    .btn {
        padding: 0 10px;
    }

    /* Pagination
    ----------------------------*/

    .paging {
        margin: 10px 0 0 0;
        background: #FFF;
        padding: 0 10px;
    }

    /* navigation
    ------------------------------*/

    header nav.main ul{
        width: 450px;
        left: -450px;
    }
}

/* --------- iPhone 6+ --------- */

/* Portrait and landscape */
@media all and (min-width: 414px) and (max-width: 736px) and (min-resolution: 3dppx) {

    /* Main
   --------------------------*/
    body.home .content{
        background: none;
    }
    ul {
        margin-left: 5%;
    }
    main h1 {
        font-size: 3rem;
    }
    header .logo {
        width: 75%;
    }
    .home-search {
        padding-top: 5vh;
    }
    .map-holder.search-map {
        height: 300px !important;
    }

    /* Navigation
  --------------------------*/

    header nav.main ul li {
        text-align: left;
    }
    header nav.main ul li:after {
        display: none;
    }
    header nav.main .toggle-nav {
        display: inline-block;
        position: fixed;
        top: 51px;
        left: 80%;
    }
    header nav.main {
        position: relative;
    }
    header nav.main ul{
        float: none;
        width: 450px;
        height: 100%;
        position: fixed;
        left: -450px;
        background: #f1f1f1;
        transition: 200ms;
    }
    header nav.main ul.open {
        left: 0;
        z-index: 2;
        box-shadow: 0 11px 17px rgba(0,0,0,1);
    }
    header nav.main ul li {
        display: block;
        float: none;
        border-bottom: 1px solid #ccc;
    }
    header nav.main ul li a {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header nav.main ul li a:active:after,
    header nav.main ul li a:hover:after,
    header nav.main ul li a:after {
        display: none;
    }
    header nav.main ul li .current,
    header nav.main ul li a:hover,
    header nav.main ul li a:focus {
        transform: translate(0) !important;
        background: #3f65b1;
        color: #FFF;
    }
    header nav.main ul li ul {
        position: static;
        background: #111;
        width: 100%;
    }
    .toggle-nav, .toggle-nav:before, .toggle-nav:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #666;
        position: absolute;
        display: block;
        content: '';
        z-index: 5;
        box-shadow: 0 0 3px #FFF;
    }
    .toggle-nav:before {
        top: -10px;
    }
    .toggle-nav:after {
        bottom: -10px;
    }
}

/* Portrait */
@media all and (min-width: 414px) and (max-width: 736px) and (min-resolution: 3dppx) and (orientation: portrait){

    .consultant-box .link-box:hover .title,
    .consultant-box .link-box .title {
        left: 20%;
        padding: 25px 15px;
    }

    header nav.main ul{
        width: 300px;
        left: -300px;
        top: initial;
    }
}

/* Landscape */
@media all and (min-width: 414px) and (max-width: 736px) and (min-resolution: 3dppx) and (orientation: landscape) {
    header .logo img {
        width: 50%;
    }
    .consultant-box .link-box:hover .title,
    .consultant-box .link-box .title {
        left: 0;
        padding: 25px 15px;
    }
    .consultant-box {
        width: 33.33333333%;
    }
    div .title,
    .title-custom,
    .titled {
        text-align: center;
    }
    .avatar-custom {
        width: 50%;
    }
    .btn.btn-accent {
        display: inline-block;
        width: 45.7%;
    }

    .borderless-custom > tbody > tr:nth-child(2n+2) > td {
        text-align: center;
    }

    .clear-after {
        margin-bottom: 30px;
    }
    /* Footer
    ----------------------------*/

    footer {
        height: auto;
        margin-top: 10px;
    }
    .footer-bottom {
        max-height: none;
    }
    .foot-col {
        width: 50%;
    }
    .products-custom li {
        width: 100%;
        float: none;
    }
    .single-box {
        width: 50%;
    }
    .foot-col {
        width: 50%;
    }
    footer .footer-top .foot-col:nth-child(2n+1) {
        clear: none;
        float: right;
    }
}

/* ----------- iPads ----------- */

/* Portrait and Landscape */
@media all and (min-width: 768px) and (max-width: 1024px) and (min-resolution: 1dppx) {

    .clear-after {
        margin-bottom: 30px;
    }

    /* Footer
    ----------------------------*/

    footer {
        height: auto;
        margin-top: 10px;
    }
    .footer-bottom {
        max-height: none;
    }
    .foot-col {
        width: 50%;
    }
    .products-custom li {
        width: 100%;
        float: none;
    }
    .single-box {
        width: 50%;
    }
    .foot-col {
        width: 50%;
    }
    footer .footer-top .foot-col:nth-child(2n+1) {
        clear: none;
        float: right;
    }
}

/* Portrait */
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (min-resolution: 1dppx) {
    body, .home,
    body.home .content{
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: #FFF;
        background-image: none;
        min-width: 100%;
        min-height: 100%;
        position: relative;
    }
    .home-search {
        padding-top: 5vh;
    }
    .home-boxes {
        padding: 0;
        margin: 25px 0 0 0;
    }
    .map-holder.search-map, .map-holder.search-map .map, .map-holder.search-map #map_canvas {
        height: 400px !important;
    }
    main {
        margin: 0;
        padding-top: 130px;
    }
    body.home main {
        padding-top: 120px;
    }
    header{
        width: 100%;
        position: fixed;
        z-index: 3;
        background-color: #fff !important;
        padding-bottom: 30px;
    }
    nav {
        touch-action: auto;
    }
    header nav.main ul {
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
        position: relative;
    }
    header nav.main ul.open {
        left: 0;
        z-index: 2;
        box-shadow: 0 11px 17px rgba(0,0,0,1);
        background-color: rgb(229, 227, 223);
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }
    header nav.main ul li {
        display: block;
        float: none;
        border-bottom: 1px solid #ccc;
    }
    header nav.main ul li a {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header nav.main ul li a:active:after,
    header nav.main ul li a:hover:after,
    header nav.main ul li a:after {
        display: none;
    }
    header nav.main ul li .current,
    header nav.main ul li a:hover,
    header nav.main ul li a:focus {
        transform: translate(0) !important;
        background: #3f65b1;
        color: #FFF;
    }
    header nav.main ul li ul {
        position: static;
        background: #111;
        width: 100%;
    }
    .toggle-nav, .toggle-nav:before, .toggle-nav:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #666;
        position: absolute;
        display: block;
        content: '';
        z-index: 5;
        box-shadow: 0 0 3px #FFF;
    }
    .toggle-nav:before {
        top: -10px;
    }
    .toggle-nav:after {
        bottom: -10px;
    }
    .profile-custom {
        padding-top: 50px;
    }
    .avatar-custom img {
        max-height: inherit;
    }
    header nav.main ul li {
        text-align: left;
    }
    header nav.main ul li:after {
        display: none;
    }
    header nav.main .toggle-nav {
        display: inline-block;
        position: fixed;
        top: 60px;
        left: 80%;
    }
    header nav.main {
        position: relative;
    }
    header nav.main ul{
        float: none;
        width: 600px;
        height: 100%;
        position: fixed;
        left: -600px;
        background: #f1f1f1;
        transition: 200ms;
    }
}

/* Landscape */
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .logo {
        float: left;
    }

    header nav.main ul li a {
        font-size: 1.5rem;
    }
}

/* Some Note Devices
---------------------------------------*/

/* Portrait */
@media screen and (min-width: 600px) and (max-width: 1024px)
{
    #page-top {
        margin-bottom: 0;
    }
    footer, #page-top:after {
        height: auto;
    }
    .footer-bottom {
        max-height: none;
    }
}


/* ----------- iPad 3 and 4 ----------- */
@media all and (min-width: 1024px) and (max-width: 1200px) and (min-resolution: 1dppx) {
    #page-top{
        margin-bottom: 0;
    }
    footer, #page-top:after {
        height: 0;
    }
    .footer-bottom{
        max-height: none;
    }
    footer{
        height: auto;
    }
    .products-custom li {
        float: none;
        width: 100%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px) and (min-resolution: 2dppx) {
    #page-top{
        margin-bottom: 0;
    }
    footer, #page-top:after {
        height: 0;
    }
    .footer-bottom{
        max-height: none;
    }
    footer{
        height: auto;
    }venya_1

    .products-custom li {
        float: none;
        width: 100%;
    }
}
    /* Portrait and Landscape */
@media all and (min-width: 768px) and (max-width: 1024px) and (min-resolution: 1dppx) {

}

/* Portrait */
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (min-resolution: 1dppx) {

}

/* Landscape */
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (min-resolution: 1dppx) {

}

/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1200px) and (max-width: 1600px) and (min-resolution: 1dppx) and (min-resolution: 192dpi) {}

/*
FOOTER
#page-top{
        margin-bottom: 0;
    }
    .footer-bottom{
        max-height: none;
    }
    footer{
        height: auto;
    }
    .products-custom li {
        float: none;
        width: 100%;
    }

*/