/* Rundumsgeld website
-------------------------------
   Main classes definitions
*/

/* Global elements definition
-------------------------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, video {
    display: block;
}
aside {
    margin-top: 15px;
}
audio, canvas, video {
    display: inline-block;
}
main {
    margin-top: 35px;
}
*:focus, * {
    outline: none;
    outline: 0;
}

.touch * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
    border: 0;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

html,body {
    margin:0;
    padding:0;
}
ul {
    margin-left: 1.2%;
}
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

textarea, select {
    outline:none;
    font: inherit;
    width: 100%;
    background: transparent;
}

textarea {
    padding: 10px;
    resize: vertical;
}

button {
    font: inherit;
}

a {
    text-decoration: none;
    color: #3f65b1;
    transition: color 300ms ease;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #333;
    transition: color 300ms ease;
}

a img {
    border: none;
}

a, a:active, a:focus, button:active, button:focus {
    outline: 0 !important;
}

p, dl, dd, address, cite  {
    margin: 0 0 20px;
}

p > a {
    font-weight: 500;
}

dt  {
    font-weight: 600;
}

:any(select, input)  {
    font-family: Roboto, Arial, Sans-serif;
    font-weight: 300;
}

input {
    /*-webkit-appearance: none;*/
}
::selection {
    background: #3f65b1;
    color: #FFF;
}
.normal-list {
    margin-left: 20px;
    margin-bottom: 25px;
}
.pull-right {
    margin-left: 20px;
    margin-bottom: 20px;
}
.pull-left {
    margin-right: 20px;
    margin-bottom: 20px;
}
.clear {
    clear: both;
}
#content {
    margin-top: 35px;
}

/* Main stuff
-------------------------------------------*/
html {
    background: #FFF;
}
body {
    background: #FFF url(../images/bgn-people-small.jpg) no-repeat 50% 80px;
    background-size: contain;
    background-attachment: scroll;
    font: 300 14px/22px Roboto, Arial, Sans-serif;
    color: #333;
    pointer-events: all;

    overflow-x: hidden;

    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}
body.disable {
    overflow: hidden;
}
body.popup-disable #responsive-menu {
    /*pointer-events: none;*/
}
.content {
    min-height: 100%;
}
.overlay, .popup-overlay {
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 500;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    background: #000;
}
.overlay.darken, .popup-overlay.darken {
    opacity: 0.75;
    transition: all 0.3s ease;
}
.overlay.darken {
    z-index: 300;
}
.negative-10 {
    margin-right: -10px;
    margin-left: -10px;
    display: block;
}
.no-right-margin {
    padding-right: 0;
}
.left-no-negative {
    margin-left: -10px;
}

span.label-info,
span.label-danger {
    display: inline-block;
    float: right;
    padding: 6px;
}

span.label-info {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
span.label-danger {

}
/* Header
-------------------------------------------*/
header {
    padding: 25px 0 0 0;
    margin: 0 0 8px;
}
header .col-xs-12 {
    float: none;
}
header .container {
    position: relative;
}
header .container:after {
    position: absolute;
    bottom: -30px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: url(../images/bgn-line.png) repeat-y;
    background-size: 100% 100%;
    content: "";
}
header .logo {
    text-align: left;
}
header .logo img {
    width: 180px;
    transition: all 500ms ease;
}
header nav.main {
    display: block;
}
header nav.main ul {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
}
header nav.main ul li {
    display: inline-block;
    font: 300 20px/62px Roboto Condensed, Roboto, Arial, Sans-serif;
    position: relative;
}
header nav.main ul li:after {
    display: block;
    position: absolute;
    width: 1px;
    height: 62px;
    background: rgba(0,0,0,.1);
    content: "";
    right: 0;
    top: 0;
}
header nav.main ul li:last-child:after {
    display: none;
}

header nav.main ul li a {
    display: block;
    padding: 0 25px;
    position: relative;
    transform: translateY(0);
    transition: all 200ms ease;
}
header nav.main ul li a:after {
    position: absolute;
    content: "";
    background: #333;
    height: 1px;
    left: 25px;
    right: 25px;
    bottom: 0;
    transform: scale(0) translateY(0);
    transition: all 200ms ease;
}
header nav.main ul li .current {
    transform: scale(1) translateY(-5px) !important;
    color: #333;
}
header nav.main ul li .current:after {
    transform: scale(1) translateY(5px);
}
header nav.main ul li a:hover {
    transform: translateY(-5px);
    transition: all 200ms ease;
}
header nav.main ul li a:hover:after {
    transform: scale(1) translateY(5px);
    transition: all 200ms ease;
}
header nav.main ul li.on a {
    color: #333;
    transition: none;
    transform: translateY(0);
}
header nav.main ul li.on a:hover {
    transition: none;
    transform: translateY(0);
}
header nav.main ul li.on a:after {
    background: url(../images/bgn-line.png) repeat-y;
    background-size: 100% 100%;
    height: 2px;
    transform: scale(1) translateY(5px);
}
header nav.language {
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
}
header nav.language ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav.language ul li {
    display: inline-block;
    font: 700 12px/32px Roboto Condensed, Roboto, Arial, Sans-serif;
}
header nav.language ul li a {
    display: block;
    box-shadow: 0 0 0 2px #3f65b1 inset;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    transition: 200ms ease all;
}
header nav.language ul li a:hover {
    box-shadow: 0 0 0 32px #3f65b1 inset;
    color: #FFF;
    transition: 200ms ease all;
}
header nav.language ul li.on a,
header nav.language ul li.on a:hover {
    box-shadow: none;
    opacity: .5;
    color: #3f65b1;
}

/* Mobile menu */

header nav.main .toggle-nav{
    text-align: center;
    display: none;
    cursor: pointer;
}

.toggle-nav, .toggle-nav:before, .toggle-nav:after {
    transition: all 300ms ease-in-out;
}
.toggle-nav.active {
    background-color: transparent;
    box-shadow: none;
}
.toggle-nav.active:before, .toggle-nav.active:after {
    top: 0;
}
.toggle-nav.active:before {
    transform: rotate(45deg);
}
.toggle-nav.active:after {
    transform: rotate(-45deg);
}

ul.open {
    overflow-y: auto;
}

/* Footer
-------------------------------------------*/
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    background: #446ab4;
    color: #FFF;
    font-size: 12px;
    line-height: 20px;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
footer .footer-top {
    padding: 30px 0 0;
}
footer .footer-top .foot-col {
    text-align: center;
    margin-bottom: 30px;
}
footer .footer-top .foot-col:nth-child(2n+1) {
    clear: left;
}
footer .footer-top h2 {
    font-family: Oswald;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin: 0 0 25px;
    position: relative;
}
footer .footer-top h2:after {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -8px;
    height: 1px;
    background: rgba(255,255,255,.1);
    content: "";
}
footer .footer-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .footer-top ul li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
}
footer .footer-top ul li:last-child {
    margin-bottom: 0;
}
footer .footer-top ul li a {
    color: #FFF;
    transition: all 200ms ease;
    display: inline-block;
    position: relative;
}
footer .footer-top ul li a:hover {
    color: #CCC;
    transition: all 200ms ease;
}
footer .footer-top ul li a:after {
    transform: scale(0);
    transition: all 200ms ease;
    display: block;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    background: #FFF;
    content: "";
}
footer .footer-top ul li a:hover:after {
    transform: scale(1);
    transition: all 200ms ease;
}
footer .footer-top .container {
    position: relative;
}
footer .footer-top .container:before {
    position: absolute;
    top: -34px;
    left: 0;
    display: block;
    width: 70%;
    max-width: 300px;
    height: 4px;
    background: url(../images/bgn-line.png) repeat-y;
    background-size: 100% 100%;
    content: "";
}
footer .footer-bottom {
    background: #395b9f;
    padding: 26px 0;
    font-size: 12px;
    font-family: Roboto Condensed, Roboto, Arial, Sans-serif;
}
footer .footer-bottom .copy {
    text-align: center;
    margin-bottom: 20px;
}
footer .footer-bottom .copy img {
    width: 135px;
    display: inline-block;
}
footer .footer-bottom .copy p {
    display: block;
    line-height: 28px;
    position: relative;
    margin: 0;
}
footer .footer-bottom .foot-bottom-menu {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
footer .footer-bottom .foot-bottom-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .footer-bottom .foot-bottom-menu ul li {
    display: inline-block;
    line-height: 28px;
    position: relative;
}
footer .footer-bottom .foot-bottom-menu ul li:after {
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
    background: rgba(255,255,255,.1);
    content: "";
    right: 0;
    top: 0;
}
footer .footer-bottom .foot-bottom-menu ul li a {
    display: block;
    color: #FFF;
    padding: 0 11px;
    transform: translateY(0);
    transition: all 200ms ease;
}
footer .footer-bottom .foot-bottom-menu ul li:last-child:after {
    display: none;
}
footer .footer-bottom .foot-bottom-menu ul li a:hover {
    transform: translateY(-5px);
    transition: all 200ms ease;
}
footer .footer-bottom .social {
    display: block;
    text-align: center;
}
footer .footer-bottom .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .footer-bottom .social ul li {
    display: inline-block;
    line-height: 32px;
    position: relative;
    margin: 0 1px;
}
footer .footer-bottom .social ul li a {
    color: #FFF;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: block;
    line-height: 32px;
    text-align: center;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1) inset;
    transition: all 200ms ease;
}
footer .footer-bottom .social ul li a:hover {
    box-shadow: 0 0 0 35px #FFF inset;
    color: #395b9f;
    transition: all 200ms ease;
}

/* Content
-------------------------------------------*/
.image-accent {
    position: relative;
    display: block;
    padding: 0;
}
.image-accent:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 70%;
    max-width: 160px;
    height: 4px;
    background: url(../images/bgn-line.png) repeat-y;
    background-size: 100% 100%;
    content: "";
    z-index: 1;
}
.image-accent img {
    width: 100%;
    display: block;
}
.image-border {
    border-top: #395b9f 2px solid;
}

main h1, main h2, main h3 {
    font-family: Oswald, Roboto Condensed, Arial, Sans-serif;
}
main h1 {
    font-size: 36px;
    line-height: 46px;
    margin: 10px 0 20px;
    color: #3f65b1;
    text-shadow: 0 1px 0 #FFF;
}
main h2 {
    font-size: 26px;
    line-height: 36px;
    margin: 10px 0;
    color: #3f65b1;
    text-shadow: 0 1px 0 #FFF;
}
main h3 {
    font-size: 16px;
    line-height: 26px;
    margin: 5px 0;
    color: #3f65b1;
    text-shadow: 0 1px 0 #FFF;
}
.clear-after {
    margin-bottom: 30px;
}

/* Profile sidebar info
-------------------------------------------*/

.borderless-custom {
    width: 100%;
}

.borderless-custom > tbody > tr:nth-child(2n+2) > td {
    padding-bottom: 16px;
}

.address-custom {
    font-size: 12px;
}

/* END Profile sidebar info
------------------------------------------------*/

.title {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0 0 25px;
    padding: 0;
}
.title .subtitle {
    font: 300 22px/28px Roboto, Arial, Sans-serif;
    color: #666;
}
.separator:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.separator {
    border-bottom: 1px solid rgba(0,0,0,.1);
    clear: both;
    width: 100%;
    margin: 0 0 25px;
}

/* Buttons
-------------------------------------------*/
.btn,
.btn-primary,
.btn-default,
.btn.btn-accent,
.btn.btn-light,
.btn.btn-alter {
    display: inline-block;
    border-radius: 0;
    font: 300 18px/42px Roboto Condensed, Roboto, Arial, Sans-serif;;
    transition: all ease 300ms;
    margin: 0 10px 10px 0;
    border: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;
}
p .btn {
    margin-bottom: 10px;
    width: 100%;
}
p.text-center .btn, .text-center .btn {
    margin-right: 5px;
    margin-left: 5px;
}
p.text-right .btn, .text-right .btn {
    margin-left: 10px;
    margin-right: 0;
}
.btn:hover {
    transition: all ease 300ms;
}
.btn.btn-filled:active, .btn.btn-filled:focus {
    box-shadow: none;
}
.btn.btn-accent {
    background: #3f65b1;
    color: #FFF;
}
.btn.btn-accent:hover {
    background: #284e9b;
}
.btn.btn-alter {
    background: #3a6d35;
    color: #FFF;
    white-space: normal;
}
.btn.btn-alter:hover {
    background: #275123;
}
.btn.btn-light {
    background: #f1f1f1;
    color: #666;
}
.btn.btn-light:hover {
    background: #e4e4e4;
}
.btn.btn-accent.btn-outline {
    background: transparent;
    color: #3f65b1;
    box-shadow: 0 0 0 2px #3f65b1 inset;
}
.btn.btn-accent.btn-outline:hover {
    box-shadow: 0 0 0 2.5em #3a6d35 inset;
}
.btn.btn-alter.btn-outline {
    background: transparent;
    color: #3a6d35;
    box-shadow: 0 0 0 2px #3a6d35 inset;
}
.btn.btn-alter.btn-outline:hover {
    box-shadow: 0 0 0 2.5em #275123 inset;
}

/* Forms
-------------------------------------------*/
.form-group {
    margin-bottom: 10px;
}
.form-group:after {
    content: "";
    display: block;
    clear: both;
}
.form-group label {
    font-weight: 300;
    /*padding: 5px 0;*/
}
.form-group .form-control {
    background: #FFF;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 0 1px #CCC;
    font-size: 14px;
    color: #666;
    /*height: 42px;*/
    transition: all 200ms ease;
}
.form-group .form-control.form-required {
    background: #FFF url(../images/bgn-form-required.png) no-repeat 100% 0;
}
.form-group .form-control.form-error {
    box-shadow: 0 0 0 1px #fa323d;
    color: #bd1c25;
}
.form-group textarea.form-control {
    min-height: 80px;
    resize: none;
}
.form-group textarea.form-control#comments-message {
    min-height: 124px;
}
.form-group .inline-label {
    display: inline-block;
    padding: 5px 0;
}
.form-group .form-text {
    font-size: 11px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
.form-group .form-control:hover, .form-group .form-control:focus {
    box-shadow: 0 0 0 1px #AAA inset;
    transition: all 200ms ease;
}
.form-group .form-link {
    font-weight: 700;
    color: #761a48;
    display: block;
    margin: 15px 0;
}
.form-group .form-link:hover {
    color: #FFF;
}
.form-group label.radio-inline, .form-group label.checkbox-inline {
    padding-left: 26px;
    margin-left: 20px;
}
.form-group label.radio-inline.no-margin, .form-group label.checkbox-inline.no-margin {
    margin-left: 0;
}
select {
    appearance: none;
    background: transparent;
}
select option {
    color: #333;
}
.form-select {
    position: relative;
}
.form-select select {
    z-index: 1;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-select:before {
    display: block;
    position: absolute;
    font-size: 20px;
    content: "\e688";
    font-family: 'Pe-icon-7-stroke';
    right: 7px;
    top: 7px;
    z-index: 0;
    pointer-events: none;
}
.form-group .form-buttons {
    padding-top: 10px;
}
.form-buttons .btn {
}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: default;
}

/* Modal for contacting agent
-----------------------------------------*/
.agent-contact-header {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.agent-contact-header > h5 > img {
    vertical-align: text-bottom;
}
/* Pagination
-------------------------------------------*/
.paging {
    margin: 20px 0 15px;
    clear: both;
    background: #f1f1f1;
    padding: 15px 20px;
    text-align: center;
}

.pagination {
    margin: 0;
    border-radius: 0;
    text-align: center;
    width:100%;
}

.pagination li {
    margin: 0 2px 0 3px;
    display: inline-block;
}

div.paging > ul > li:first-child > a,
div.paging > ul > li:first-child > span,
div.paging > ul > li:last-child > a,
div.paging > ul > li:last-child > span {
    font-size: 20px;
    box-shadow: none;
}
div.paging > ul > li:first-child > span,
div.paging > ul > li:first-child > span:hover,
div.paging > ul > li:last-child > span,
div.paging > ul > li:last-child > span:hover {
    background-color: transparent;
    box-shadow: none;
}

.pagination > li > a,
.pagination > li > span {
    background: transparent;
    border: 0;
    color: #666;
    border-radius: 50%;
    padding: 7px 0 5px 0;
    -webkit-padding-end: 0;
    -webkit-padding-start: 0;
    font-size: 14px;
    line-height: 15px;
    min-width: 28px;
    display: block;
    float: none;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    font-weight: 300;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

}

.pagination > li > a,
.pagination > li > span {
    margin: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background: transparent;
    box-shadow: 0 0 0 1px #666 inset;
    color: #666;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    font-weight: 700;
    box-shadow: 0 0 0 20px #395b9f inset;
    background: transparent;
    transition: all 150ms ease-out;
}

.pagination > li:first-child > a:hover,
.pagination > li:first-child > span:hover {
    transition: all 200ms ease;
    transform: translatex(-5px);
    box-shadow: none;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: transparent;
    box-shadow: none;
}

.pagination > li:last-child > a:hover,
.pagination > li:last-child > span:hover {
    transition: all 200ms ease;
    transform: translatex(5px);
    box-shadow: none;
}

/* Modal for contacting agent
-------------------------------------------*/
.modal-dialog {
    margin: 25vh auto;
}
/* Contact map
-------------------------------------------*/
.map-holder .map {
    width: 100%;
    height: 100%;
}

.map-holder .map-contact {
    height: 32.0vh;
}
.map-holder {
    border-top: #3f65b1 2px solid;
    position: relative;
}
.map-holder:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 70%;
    max-width: 160px;
    height: 4px;
    background: url(../images/bgn-line.png) repeat-y;
    background-size: 100% 100%;
    content: "";
    z-index: 1;
}
.map-holder.search-map, .map-holder.search-map .map, .map-holder.search-map #map_canvas {
    border: 0;
}
.map-holder.search-map:after {
    display: none;
}
.gm-style-mtc {
    display: none !important;
}
.contact-box {
    position: relative;
    background: #3f65b1;
    color: #FFF;
    padding: 25px 0 5px;
    font-size: 12px;
    line-height: 18px;
}
.contact-box h3 {
    color: #FFF;
    text-shadow: none;
}
.contact-box i {
    font-size: 32px;
}
.contact-box .col-wrap {
    padding: 0 0 0 40px;
}
.contact-box .col-wrap i {
    float: left;
    margin-left: -40px;
}
.contact-box a {
    color: #FFF;
}
.contact-box a:hover {
    color: #CCC;
}

/* Search consultant box
-------------------------------------------*/
.search {
    background: #395b9f;
    background: rgba(57,91,159,.75);
    padding: 20px;
    margin-bottom: 20px;
}
.search .type-box {
    border: #395b9f 2px solid;
    background: #FFF;
    position: relative;
}
.search .type-box .type-box-wrapper {
    border-right: 1px solid rgba(0,0,0,.1);
    margin: 8px 65px 8px 0;
}
.search .type-box .search-field {
    border: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 16px;
}
.search .type-box button {
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 40px;
    color: #3f65b1;
    transform: scale(1);
    transition: all 200ms ease;
}
.search .type-box button:hover {
    transform: scale(1.2);
    transition: all 200ms ease;
}
.search .advanced-search {
    line-height: 20px;
    color: #FFF;
    font-size: 12px;
    margin: 20px 0 0;
    display: block;
    text-align: right;
}
.search .advanced-search i {
    float: right;
    font-size: 20px;
    margin: 0 0 0 6px;
    transform: scale(1);
    transition: all 200ms ease;
}
.search .advanced-search:hover i {
    transform: scale(1.2);
    transition: all 200ms ease;
}
.search .advanced-search.on i:before {
    content: "\e683";
}
.search .advanced {
    display: none;
}
.search .advanced {
    padding: 10px 0 0;
}
.search .advanced label {
    color: #FFF;
    font-family: Roboto Condensed;
    font-size: 13px;
}
.search .advanced input {
    font-size: 13px;
    box-shadow: 0 0 0 1px #395b9f inset;
}
.search .advanced input:hover, .search .advanced input:focus {
    box-shadow: 0 0 0 2px #395b9f inset;
}
.consultant-box {
    margin: 0 0 20px;
}
.consultant-box .link-box {
    position: relative;
    display: block;
    overflow: hidden;
    border-top: #395b9f 2px solid;
}
.consultant-box .link-box img {
    transform: scale(1);
    transition: all 200ms ease;
    width: 100%;
    max-height: 243px;
}
.consultant-box .link-box:hover img {
    transform: scale(1.1);
    transition: all 200ms ease;
}
.consultant-box .link-box .title {
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #395b9f;
    background: rgba(57,91,159,.75);
    color: #FFF;
    margin: 0;
    font-family: Oswald, Roboto Condensed, Arial, Sans-serif;
    padding: 6px 15px;
    font-size: 20px;
    transition: all 200ms ease;
}
.consultant-box .link-box:hover .title {
    background: rgba(57,91,159,.9);
    padding: 10px 15px;
    transition: all 200ms ease;
}
.consultant-box .additional {
    background: #395b9f;
    color: #FFF;
    font-size: 11px;
    padding: 12px 15px;
}
.consultant-box .additional .distance {
    text-transform: uppercase;
}
.consultant-box div.showLocation {
    float: right;
    color: #999;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.1s linear;
    cursor: pointer;
}
.consultant-box .additional .showLocation i {
    font-size: 20px;
    float: right;
}
.consultant-box .additional .showLocation:hover {
    color: #FFF;
}

.title-custom {
    font-family: Oswald;
    color: #3f65b1;
    text-transform: uppercase;
    font-weight: 500;
    border: 0;
    font-size: 14px;
    display: block;
    margin: 0;
}

.avatar-custom img {
    max-height: 290px;
}

/* Home
-------------------------------------------*/
body.home {
    background: none;
}
body.home .content {
    background: #FFF url(../images/bgn-people-home-small.jpg) no-repeat 50% 10vh;
    background-size: contain;
}
body.home header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.home-search {
    padding-top: 20vh;
    padding-bottom: 40px;
}
.home-search h1 {
    font-size: 26px;
    line-height: 36px;
    text-shadow: 0 1px 0 #FFF, 0 0 20px rgba(255,255,255,.75);
}
.home-search .subtitle {
    font: 300 18px/26px Roboto, Arial, Sans-serif;
    color: #666;
    text-shadow: 0 1px 0 #FFF;
}
.home-search .type-box {
    border: #395b9f 2px solid;
    background: #FFF;
    position: relative;
}
.home-search .type-box .type-box-wrapper {
    border-right: 1px solid rgba(0,0,0,.1);
    margin: 8px 65px 8px 0;
}
.home-search .type-box .search-field {
    border: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 16px;
    width: 100%;
}
.home-search .type-box button {
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    top: 9px;
    font-size: 40px;
    color: #3f65b1;
    transform: scale(1);
    transition: all 200ms ease;
}
.home-search .type-box button:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition: all 200ms ease;
}
.home-boxes {
    margin: -20px 0 20px;
}
.home-box {
    margin: 0 0 20px;
}
.home-box .link-box {
    position: relative;
    display: block;
    overflow: hidden;
    border-top: #395b9f 2px solid;
}
.home-box .link-box img {
    transform: scale(1);
    transition: all 200ms ease;
    width: 100%;
}
.home-box .link-box:hover img {
    transform: scale(1.1);
    transition: all 200ms ease;
}
.home-box .link-box .title {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #395b9f;
    background: rgba(57,91,159,.75);
    color: #FFF;
    margin: 0;
    font-family: Oswald, Roboto Condensed, Arial, Sans-serif;
    padding: 6px 15px;
    font-size: 20px;
    transition: all 200ms ease;
}
.home-box .link-box:hover .title {
    background: rgba(57,91,159,.9);
    padding: 10px 15px;
    transition: all 200ms ease;
}
.home-box .description {
    font-size: 12px;
    line-height: 18px;
    display: block;
    padding: 12px 15px;
    color: #FFF;
    background: #3f65b1;
    margin: 0;
}
.home-box.red-box .link-box {
    border-color: #fa2d39;
}
.home-box.red-box .link-box .title {
    background: rgba(250,45,57,.75);
}
.home-box.red-box .link-box:hover .title {
    background: rgba(250,45,57,.9);
}
.home-box.red-box .description {
    background: #fa2d39;
}
.home-box.green-box .link-box {
    border-color: #33652e;
}
.home-box.green-box .link-box .title {
    background: rgba(51,101,46,.75);
}
.home-box.green-box .link-box:hover .title {
    background: rgba(51,101,46,.9);
}
.home-box.green-box .description {
    background: #33652e;
}
.home-box.brown-box .link-box {
    border-color: #81603f;
}
.home-box.brown-box .link-box .title {
    background: rgba(129,96,63,.75);
}
.home-box.brown-box .link-box:hover .title {
    background: rgba(129,96,63,.9);
}
.home-box.brown-box .description {
    background: #81603f;
}
.home-box.purple-box .link-box {
    border-color: #6c4f93;
}
.home-box.purple-box .link-box .title {
    background: rgba(108,79,147,.75);
}
.home-box.purple-box .link-box:hover .title {
    background: rgba(108,79,147,.9);
}
.home-box.purple-box .description {
    background: #6c4f93;
}

/* Datepicker
--------------------------*/

.ui-datepicker{}
.ui-datepicker-header{}
.ui-datepicker-prev{}
.ui-datepicker-next{}
.ui-datepicker-title{}
.ui-datepicker-month{
    border: 1px solid #ccc;
}
.ui-datepicker-year{
    border: 1px solid #ccc;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #446ab4;
}
.ui-datepicker-calendar{}
.ui-datepicker-week-end{}
.ui-datepicker-other-month{}
.ui-datepicker-unselectable{}
.ui-datepicker-current-day{}
.ui-datepicker-today{}
.ui-datepicker-buttonpane{}
.ui-datepicker-current{}