/* Rundumsgeld website
-------------------------------
   Screens
*/

@media (min-width: 480px) {
    header .logo img {
        width: auto;
    }
    footer .footer-bottom .copy p {
        display: inline-block;
        margin-left: 12px;
        padding-left: 12px;
        position: relative;
    }
    footer .footer-bottom .copy p:before {
        display: block;
        position: absolute;
        width: 1px;
        height: 28px;
        background: rgba(255,255,255,.1);
        content: "";
        left: 0;
        top: 0;
    }
}

@media (min-width: 600px) {
    header nav.main, header nav.language {
        display: block;
    }
    header .logo {
        text-align: center;
        display: inline-block;
    }
    body.disable {
        overflow: auto;
        left: 0 !important;
    }
    body.home .content {
        background: #FFF url(../images/bgn-people-home.jpg) no-repeat 50% 0;
    }
}

@media (min-width: 768px) {
    body {
        background: #FFF url(../images/bgn-people.jpg) no-repeat 50% 0;
    }
    p .btn {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        line-height: 42px;
    }
    p .btn:last-child {
        margin-right: 0;
    }
    footer .footer-top .foot-col:nth-child(2n+1) {
        clear: none;
    }
    footer .footer-top .foot-col:nth-child(3n+1) {
        clear: left;
    }
    body.home .content {
        background: #FFF url(../images/bgn-people-home.jpg) no-repeat 50% 0;
    }
    .home-search {
        padding-bottom: 100px;
    }
    .home-search h1 {
        font-size: 36px;
        line-height: 46px;
    }
    .home-search .subtitle {
        font-size: 22px;
        line-height: 28px;
    }
    .home-boxes {
        margin-bottom: 20px;
    }

    .time-to-book {
        display: block;
        float: right;
        font-family: Roboto Condensed;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .time-to-book i {
        font-size: 20px;
        float: right;
        margin: 0 0 0 5px;
    }
}

@media (min-width : 992px) {
    footer .footer-bottom .copy {
        float: left;
    }
    footer .footer-bottom .copy p {
        display: inline-block;
        padding-right: 12px;
        position: relative;
    }
    footer .footer-bottom .copy p:after {
        display: block;
        position: absolute;
        width: 1px;
        height: 28px;
        background: rgba(255,255,255,.1);
        content: "";
        right: 0;
        top: 0;
    }
    footer .footer-bottom .foot-bottom-menu {
        float: left;
    }
    footer .footer-bottom .social {
        clear: left;
    }
    .main-info {
        display: block;
        position: relative;
    }
    .main-info:before {
        border-left: 1px solid rgba(0,0,0,.1);
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        display: block;
        content: "";
    }
    .map-holder.details-map, .map-holder.details-map .map, .map-holder.details-map #map_canvas {
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
    }
    .map-holder.details-map {
        border: 0;
        position: relative;
    }
    .map-holder.details-map:after {
        display: none;
    }
    .repeat-info {
        display: none;
    }
    .times .day {
        width: 20%;
    }
}
@media (min-width : 1200px) {
    footer .footer-bottom .social {
        float: right;
        clear: none;
    }
    footer .footer-top .foot-col {
        text-align: left;
    }
    footer .footer-top .foot-col:nth-child(2n+1), footer .footer-top .foot-col:nth-child(3n+1) {
        clear: none;
    }
    header .container {
        height: 77px;
    }
    header .col-xs-12 {
        float: left;
    }
    header .logo {
        float: left;
        margin: 0 14px;
    }
    header .logo img {
        max-width: 100%;
    }
    header nav.main {
        float: right;
        margin-right: -20px;
    }
    header nav.main ul li:last-child:after {
        display: none;
    }
    header nav.main ul {
        margin-top: 7px;
    }
    header nav.language {
        top: 24px;
    }
    body.home header {
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
}

